

/******************start breadcrumb******************/

.breadcrumb {
	height: 151px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #f8f3f4;
}

.breadcrumb > p {
	color: #f16d7f;
	font-size: 24px;
	font-weight: 900;
	line-height: 20px;
	text-transform: uppercase;
}

.breadcrumb-menu {
	display: flex;
	list-style-type: none;
}

.breadcrumb-menu > li:nth-of-type(2):after,
.breadcrumb-menu > li:nth-of-type(1):after  {
	content:" /";
	color: #636363;
	font-size: 14px;
}

.breadcrumb-menu a {
	color: #636363;
	font-size: 14px;
	font-weight: 300;
	text-transform: uppercase;
	text-decoration: none;
}

.breadcrumb-menu span {
	color: #f16d7f;
	font-weight: 700;
}

.breadcrumb-menu a:hover {
	color: #f16d7f;
}


/******************start image-slide******************/

.image-slide {
	height: 779px;
	margin-bottom: 50px;
	background-color: #f7f7f7;
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
}

.image-slide-front {
	height: 100%;
	background: url(../img/product/layer-15.jpg) no-repeat center;
}


/******************start image-slide******************/
.product {
	margin-top: -130px;
	margin-bottom: 120px;
	padding-bottom: 120px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 1px solid #eaeaea;
	background-color: #ffffff;
}

.product-info {
	padding-top: 75px;
	padding-bottom: 40px;
	width: 620px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
	border-bottom: 1px solid #eaeaea;
}

.product-info-head {
	padding-bottom: 60px;
}

.product-info-head h2 {
	padding-bottom: 15px;
	color: #f16d7f;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
}

.product-info-head h1 {
	color: #4d4d4d;
	font-size: 18px;
	font-weight: 900;
	text-transform: uppercase;
}

.product-info-text {
	padding-bottom: 28px;
	color: #5e5e5e;
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
}

.product-info-features {
	display: flex;
	justify-content: center;
}

.product-info-features p {
	padding: 28px 22px 37px 22px;
	display: flex;
	justify-content: center;
}

.product-info-features p {
	color: #b9b9b9;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
}

.product-info-features span {
	color: #2f2f2f;
}

.product-info > p {
	color: #ef5b70;
	font-size: 24px;
	font-weight: 700;
}

.product-customize {
	padding-top: 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.product-form {
	padding-bottom: 25px;
	display: flex;
	justify-content: space-between;
	width: 538px;
}

.product-form p {
	color: #2f2f2f;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
}

.product-customize a {
	padding: 15px 0;
	width: 100%;
	text-align: center;
	color: #ef5b70;
	font-size: 16px;
	font-weight: 700;
	border: 1px solid #ef5b70;
	background-color: #ffffff;
	text-decoration: none;
}

.product-customize img {

}

.product-customize a:hover {
		background-color: #f16d7f;
		cursor: pointer;
		color: #ffffff;
}

/******************start extra-product******************/
.extra-product {
	padding-bottom: 50px;
}

.extra-product > p {
	padding-bottom: 70px;
	color: #4d4d4d;
	font-size: 24px;
	font-weight: 900;
	text-transform: uppercase;
	text-align: center;
}

.card-section {
	margin-top: 20px;
	margin-bottom: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	}

.parent-product-card {
	margin-bottom: 20px;
	position: relative;
	background-color: #e9e9e9;
}

.product-card {
	display: block;
	width: 263px;
	text-decoration: none;
	background-color: #e9e9e9;
}


.product-card img {
	height: 283px;
}

.product-card-text {
	padding: 20px 14px;
}

.product-card h3 {
	color:  #222222;
	font-size: 13px;
	font-weight: 400;
	text-transform: uppercase;
}

.product-card p {
	padding-top: 15px;
	color:  #f16d7f;
	font-size: 16px;
	font-weight: 700;
}
.product-card:hover {
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.16);
}

.product-card:hover  img {
	filter: brightness(50%);
}

.pos-add-to-cart {
	width: 263px;
	display: flex;
	justify-content: center;
}

.add-to-cart {
	padding: 10px 15px;
	position: absolute;
	border: 1px solid #ffffff;
	box-sizing: border-box;
	background-color:  rgba(255, 255, 255, 0);
	display: none;
	top: 98px;
	text-decoration: none;
	color:  #ffffff;
	font-size: 13px;
	font-weight: 700;
}

.add-to-cart:hover {
	background-color: #f16d7f;
	cursor: pointer;
	color: #ffffff;	
}

.parent-product-card:hover .add-to-cart{
	display: block;
}

.parent-product-card:hover img {
  filter: brightness(50%);	
}

.parent-product-card:hover .product-card {
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.16);
}

/******************start subscribe******************/
.subscribe {
	height: 438px;
	background-size: cover;
	position: relative;
	background: url(../img/subscribe/subscribe_back.jpg) center;
}

.subscribe-overlay {
	width: 100%;
	height:100%;
	position: absolute;
	left: 0;
	top: 0;
	background: #f2f2f2;
	opacity: 0.5;
	z-index: 0;
}

.subscribe-flex {
	display: flex;
	height: 100%;
	z-index: 1;
}

.subscribe-left {
	padding-top: 110px; 
	padding-right: 70px;
	display: flex;
	flex: 1 50%;
	justify-content: flex-end;
	align-items: flex-start;
	z-index: 1;
}

.subscribe-left-quote {
	padding-left: 28px;
	z-index: 1;
}

.subscribe-left-quote p {
	color:  rgba(34, 34, 36, 0.67);
	font-size: 16px;
	font-style: italic;
	line-height: 26px;

}

.subscribe-left-quote h2 {
	color:  #f16d7f;
	font-size: 16px;
	font-weight: 700;
	line-height: 26px;
}

.subscribe-left-quote h3 {
	color:  #222224;
	font-size: 12px;
	font-weight: 300;
	line-height: 14px;
}

.subscribe-right {
	padding: 130px 0 0 90px;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	flex: 1 50%;
	z-index: 1;
	align-items: center;
	border-left: 1px solid #ffffff;
}

.subscribe-right-text {
	padding-bottom: 30px;
}

.subscribe-right-text h2 {
	color: rgba(34, 34, 36, 0.67);
	font-size: 24px;
	font-weight: 400;
	line-height: 32px;
	text-align: center;
}

.subscribe-right-text p {
	color:  rgba(34, 34, 36, 0.67);
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
	font-variant: small-caps;
}

.subscribe-right input {
	background-color:  #e1e1e1;
	width: 334px;
	height: 46px;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	border-style: none;
	text-indent: 20px;
}

.subscribe-right-text placholder {
	color:  rgba(34, 34, 36, 0.67);
	font-size: 14px;
	font-weight: 400;
	line-height: 54px;
}

.subscribe-right a {
	background-color:  #f16d7f;
	padding: 14px 20px;
	text-decoration: none;
	color:  #ffffff;
	font-size: 14px;
	font-weight: 400;
	line-height: 46px;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
}

.btn-subscribe {
    width: 104px;
    height: 46px;
    border-radius: 0 30px 30px 0;
    background-color: #f16d7f;
    border: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
}

.btn-subscribe:hover {
		background-color: #BF3A30;
		cursor: pointer;
}
