@import url("https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&subset=latin-ext");
* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Lato', sans-serif;
  height: 100%; }

.mainContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.mainContent {
  flex: 1; }

.container {
  width: 1140px;
  margin: 0 auto; }

.whiteToPink-btn, .cartButtons__btn, .purchaseBlock__btn {
  display: block;
  color: #4a4a4a;
  text-decoration: none;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s; }
  .whiteToPink-btn:hover, .cartButtons__btn:hover, .purchaseBlock__btn:hover {
    background-color: #f16d7f;
    cursor: pointer;
    color: #ffffff; }

.pinkToRed-btn, .my-account, .proceedBlock__btn, .btn-subscribe {
  color: #ffffff;
  text-decoration: none;
  background-color: #f16d7f;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s; }
  .pinkToRed-btn:hover, .my-account:hover, .proceedBlock__btn:hover, .btn-subscribe:hover {
    background-color: #BF3A30;
    cursor: pointer; }

.header {
  height: 100px;
  border: 1px solid #ececec;
  box-sizing: border-box;
  background-color: #ffffff; }

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%; }

.header-left {
  display: flex;
  flex: 2 600px;
  justify-content: flex-start;
  align-items: center; }
  .header-left input {
    width: 317px;
    height: 41px;
    background-color: #ffffff;
    box-sizing: border-box;
    text-indent: 15px;
    border: 1px solid #e6e6e6;
    border-right-width: 0;
    border-left-width: 0; }
  .header-left placeholder {
    color: #a4a4a4;
    font-size: 14px;
    font-weight: 300;
    line-height: 32px; }

.logo {
  padding-right: 35px;
  display: flex;
  align-items: center;
  text-decoration: none; }
  .logo:hover .logo__darkLetter {
    text-shadow: 2px 0 19px #f16d7f; }
  .logo__darkLetter {
    padding-left: 10px;
    color: #222222;
    font-size: 27px;
    font-weight: 300;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s; }
  .logo__pinkLetter {
    color: #f16d7f;
    font-size: 27px;
    font-weight: 900; }

.browse-btn {
  border-color: #e6e6e6;
  box-sizing: border-box;
  background: -webkit-linear-gradient(-90deg, #f9f9f9 0%, #f5f5f5 100%);
  background: -moz-linear-gradient(-90deg, #f9f9f9 0%, #f5f5f5 100%);
  background: -o-linear-gradient(-90deg, #f9f9f9 0%, #f5f5f5 100%);
  background: -ms-linear-gradient(-90deg, #f9f9f9 0%, #f5f5f5 100%);
  background: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%); }

.browse-btn {
  padding: 0 12px;
  height: 41px;
  border-radius: 3px 0 0 3px;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  cursor: pointer; }

.browse-btn-text {
  color: #222222;
  font-size: 14px;
  font-weight: 300;
  line-height: 32px; }

.fa-caret-down {
  width: 9px;
  height: 6px;
  padding-left: 5px;
  color: #838383; }

.search-btn {
  padding: 0 12px;
  height: 41px;
  border-radius: 0 3px 3px 0;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s; }
  .search-btn:hover {
    background-color: #ef5b70; }
  .search-btn:hover .fa-search {
    color: #ffffff; }

.fa-search {
  width: 14px;
  height: 14px;
  color: #a4a4a4;
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s; }

.header-right {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  height: 38px; }
  .header-right .fa-caret-down {
    width: 9px;
    height: 6px;
    padding-left: 5px;
    color: #ffffff; }

.my-account {
  border-radius: 3px;
  padding: 13px 19px;
  font-size: 15px;
  font-weight: 400; }

.nav {
  height: 51px;
  display: flex;
  justify-content: center; }

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none; }
  .menu .li {
    position: relative; }
  .menu__link {
    padding: 19px 20px;
    display: block;
    text-decoration: none;
    cursor: pointer;
    color: #222222;
    line-height: 45px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase; }
    .menu__link:after {
      position: absolute;
      display: block;
      content: "";
      height: 3px;
      width: 0%;
      left: 50%;
      background-color: #ef5b70;
      transition: width 0.3s ease-out;
      -webkit-transition: width .3s ease-in-out;
      -moz--transition: width .3s ease-in-out;
      transition: width .3s ease-in-out;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      transform: translateX(-50%); }
    .menu__link:hover:after, .menu__link:focus:after {
      width: 90%; }

.megaMenu {
  display: flex;
  position: absolute;
  top: 67px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
  border: 1px solid #e9e9e9;
  padding: 20px;
  background: #fff; }
  .megaMenu__item {
    width: 237px;
    margin-right: 44px; }
    .megaMenu__item:last-child {
      margin-right: 0; }
      .megaMenu__item:last-child img {
        width: 100%; }
    .megaMenu__item ul {
      list-style-type: none; }
    .megaMenu__item li {
      margin-bottom: 5px; }
  .megaMenu__category {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid #e8e8e8; }
  .megaMenu__subCategory {
    color: #646464;
    font-size: 0.875rem;
    font-weight: 400;
    text-decoration: none; }

.breadcrumb {
  height: 151px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f3f4; }
  .breadcrumb p {
    color: #f16d7f;
    font-size: 24px;
    font-weight: 900;
    line-height: 20px;
    text-transform: uppercase; }

.breadcrumb-menu {
  display: flex;
  list-style-type: none; }
  .breadcrumb-menu a {
    color: #636363;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none; }
  .breadcrumb-menu span {
    color: #f16d7f;
    font-weight: 700; }

.breadcrumb-menu > li:nth-of-type(2):after,
.breadcrumb-menu > li:nth-of-type(1):after {
  content: " /";
  color: #636363;
  font-size: 14px; }

.breadcrumb-menu a:hover {
  color: #f16d7f; }

.cartSheet {
  margin-top: 69px; }

.row {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eaeaea; }

.prodDetails {
  flex: 4;
  display: flex; }
  .prodDetails__title {
    color: #222222;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: -0.2px; }
  .prodDetails__info {
    padding: 12px 0 20px 20px; }
  .prodDetails__name {
    padding-bottom: 30px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase; }
    .prodDetails__name a {
      color: #222222;
      text-decoration: none; }
      .prodDetails__name a:hover {
        color: #f16d7f;
        cursor: pointer; }
  .prodDetails__text {
    color: #6f6e6e;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px; }
    .prodDetails__text_grey {
      padding-left: 8px;
      color: #575757;
      font-weight: 300; }
  .prodDetails img {
    height: 115px;
    width: 100px; }

.cell {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center; }
  .cell__title {
    color: #222222;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase; }
  .cell__text {
    font-size: 13px;
    font-weight: 400;
    color: #656565; }
  .cell__input {
    width: 54px;
    height: 30px;
    font-size: 13px;
    font-weight: 400;
    color: #656565;
    text-indent: 18px; }
  .cell__action {
    color: #c0c0c0;
    font-size: 13px; }
    .cell__action:hover {
      color: #f16d7f; }

.cartButtons {
  margin-top: 40px;
  margin-bottom: 62px;
  display: flex;
  justify-content: space-between; }
  .cartButtons__btn {
    padding: 20px 40px;
    font-size: 14px;
    font-weight: 700; }

.purchase {
  margin-bottom: 76px;
  display: flex;
  justify-content: space-between; }

.purchaseBlock {
  width: 365px;
  padding-right: 35px; }
  .purchaseBlock__head {
    color: #222222;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 20px; }
    .purchaseBlock__head_coupon {
      color: #222222;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      padding-bottom: 28px; }
  .purchaseBlock__input {
    margin-bottom: 20px;
    width: 100%;
    padding-left: 19px;
    box-sizing: border-box;
    height: 48px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    line-height: 20px;
    color: #b1b1b1;
    font-size: 13px;
    font-weight: 300; }
    .purchaseBlock__input placeholder {
      color: #b1b1b1; }
  .purchaseBlock__btn {
    padding: 13px 17px;
    font-size: 11px;
    font-weight: 700; }
  .purchaseBlock__text {
    color: #000000;
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 22px; }

.proceedBlock {
  width: 365px;
  background-color: #f5f3f3;
  padding: 43px 43px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .proceedBlock__btn {
    margin-top: 15px;
    display: block;
    text-align: center;
    padding: 20px 40px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase; }

.proceedText {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-bottom: 1px solid #e2e2e2; }
  .proceedText__small {
    padding-bottom: 14px;
    color: #4a4a4a;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase; }
    .proceedText__small_amount {
      padding-left: 14px; }
  .proceedText__big {
    color: #222222;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase; }
    .proceedText__big_red {
      padding-left: 14px;
      color: #f16d7f; }

.subscribe {
  background-size: cover;
  position: relative;
  background: url(../img/subscribe/subscribe_back.jpg) center;
  background-size: cover; }

.subscribe-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #f2f2f2;
  opacity: 0.5;
  z-index: 0; }

.subscribe-flex {
  display: flex;
  height: 100%;
  z-index: 1; }

.subscribe-left {
  padding-top: 110px;
  padding-right: 70px;
  display: flex;
  flex: 1 50%;
  justify-content: flex-end;
  align-items: flex-start;
  z-index: 1; }

.subscribe-left-quote {
  padding-left: 28px;
  padding-bottom: 202px;
  z-index: 1; }
  .subscribe-left-quote p {
    color: rgba(34, 34, 36, 0.67);
    font-size: 16px;
    font-style: italic;
    line-height: 26px; }
  .subscribe-left-quote h2 {
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px; }
  .subscribe-left-quote h3 {
    color: #222224;
    font-size: 12px;
    font-weight: 300;
    line-height: 14px; }

.subscribe-right {
  padding: 130px 0 0 90px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex: 1 50%;
  z-index: 1;
  align-items: center;
  border-left: 1px solid #ffffff; }
  .subscribe-right input {
    background-color: #e1e1e1;
    width: 334px;
    height: 46px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-style: none;
    text-indent: 20px; }

.subscribe-right-text {
  padding-bottom: 30px; }
  .subscribe-right-text h2 {
    color: rgba(34, 34, 36, 0.67);
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: center; }
  .subscribe-right-text p {
    color: rgba(34, 34, 36, 0.67);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    font-variant: small-caps; }
  .subscribe-right-text placholder {
    color: rgba(34, 34, 36, 0.67);
    font-size: 14px;
    font-weight: 400;
    line-height: 54px; }
  .subscribe-right-text a {
    background-color: #f16d7f;
    padding: 14px 20px;
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 46px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px; }

.btn-subscribe {
  width: 104px;
  height: 46px;
  border-radius: 0 30px 30px 0;
  border: none;
  font-size: 14px;
  font-weight: 400; }

.footer-main {
  padding-top: 50px;
  display: flex;
  padding-bottom: 32px; }
  .footer-main a {
    text-decoration: none; }

.footer-main-left {
  width: 427px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }
  .footer-main-left p {
    color: #898989;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px; }

.footer-main-left * {
  padding-bottom: 15px; }

.footer-main-right {
  display: flex;
  flex: 711;
  justify-content: space-around;
  align-items: flex-start; }

.footer-main-right > div {
  padding: 0 50px; }

.footer-menu > h3 {
  padding: 15px 0 30px 0; }

.footer-menu > h3 > a:hover {
  color: #BF3A30; }

.footer-menu > h3 > a {
  display: block;
  white-space: nowrap;
  color: #f16d7f;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px; }

.footer-menu > ul {
  list-style-type: none;
  line-height: 40px; }

.footer-menu > ul > li > a {
  color: #898989;
  font-size: 16px;
  font-weight: 400; }

.footer-menu > ul > li > a:hover {
  color: #f16d7f; }

.footer-copyright {
  background-color: #e6e6e6;
  height: 79px; }

.footer-copyright {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .footer-copyright p {
    color: #7a7a7a;
    font-size: 16px;
    font-weight: 400;
    line-height: 42px; }

.icons {
  display: flex; }
  .icons a {
    display: block;
    width: 35px;
    height: 35px;
    margin-right: 10px;
    background-color: #ffffff;
    color: #b2b2b2;
    line-height: 35px;
    text-align: center; }

.icons a:hover {
  background-color: #f16d7f;
  color: #f7f7f8; }

.icons a:nth-of-type(3):hover {
  background-color: #eeeeee;
  color: #d9d9d9; }

/*# sourceMappingURL=cart.css.map */
