@import url("https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&subset=latin-ext");
* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Lato', sans-serif;
  height: 100%; }

.mainContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.mainContent {
  flex: 1; }

.container {
  width: 1140px;
  margin: 0 auto; }

.whiteToPink-btn {
  display: block;
  color: #4a4a4a;
  text-decoration: none;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s; }
  .whiteToPink-btn:hover {
    background-color: #f16d7f;
    cursor: pointer;
    color: #ffffff; }

.pinkToRed-btn, .my-account, .go-to-catalog-flex a, .btn-subscribe {
  color: #ffffff;
  text-decoration: none;
  background-color: #f16d7f;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s; }
  .pinkToRed-btn:hover, .my-account:hover, .go-to-catalog-flex a:hover, .btn-subscribe:hover {
    background-color: #BF3A30;
    cursor: pointer; }

.header {
  height: 100px;
  border: 1px solid #ececec;
  box-sizing: border-box;
  background-color: #ffffff; }

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%; }

.header-left {
  display: flex;
  flex: 2 600px;
  justify-content: flex-start;
  align-items: center; }
  .header-left input {
    width: 317px;
    height: 41px;
    background-color: #ffffff;
    box-sizing: border-box;
    text-indent: 15px;
    border: 1px solid #e6e6e6;
    border-right-width: 0;
    border-left-width: 0; }
  .header-left placeholder {
    color: #a4a4a4;
    font-size: 14px;
    font-weight: 300;
    line-height: 32px; }

.logo {
  padding-right: 35px;
  display: flex;
  align-items: center;
  text-decoration: none; }
  .logo:hover .logo__darkLetter {
    text-shadow: 2px 0 19px #f16d7f; }
  .logo__darkLetter {
    padding-left: 10px;
    color: #222222;
    font-size: 27px;
    font-weight: 300;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s; }
  .logo__pinkLetter {
    color: #f16d7f;
    font-size: 27px;
    font-weight: 900; }

.browse-btn {
  border-color: #e6e6e6;
  box-sizing: border-box;
  background: -webkit-linear-gradient(-90deg, #f9f9f9 0%, #f5f5f5 100%);
  background: -moz-linear-gradient(-90deg, #f9f9f9 0%, #f5f5f5 100%);
  background: -o-linear-gradient(-90deg, #f9f9f9 0%, #f5f5f5 100%);
  background: -ms-linear-gradient(-90deg, #f9f9f9 0%, #f5f5f5 100%);
  background: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%); }

.browse-btn {
  padding: 0 12px;
  height: 41px;
  border-radius: 3px 0 0 3px;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  cursor: pointer; }

.browse-btn-text {
  color: #222222;
  font-size: 14px;
  font-weight: 300;
  line-height: 32px; }

.fa-caret-down {
  width: 9px;
  height: 6px;
  padding-left: 5px;
  color: #838383; }

.search-btn {
  padding: 0 12px;
  height: 41px;
  border-radius: 0 3px 3px 0;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s; }
  .search-btn:hover {
    background-color: #ef5b70; }
  .search-btn:hover .fa-search {
    color: #ffffff; }

.fa-search {
  width: 14px;
  height: 14px;
  color: #a4a4a4;
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s; }

.header-right {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  height: 38px; }
  .header-right .fa-caret-down {
    width: 9px;
    height: 6px;
    padding-left: 5px;
    color: #ffffff; }

.my-account {
  border-radius: 3px;
  padding: 13px 19px;
  font-size: 15px;
  font-weight: 400; }

.nav {
  height: 51px;
  display: flex;
  justify-content: center; }

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none; }
  .menu .li {
    position: relative; }
  .menu__link {
    padding: 19px 20px;
    display: block;
    text-decoration: none;
    cursor: pointer;
    color: #222222;
    line-height: 45px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase; }
    .menu__link:after {
      position: absolute;
      display: block;
      content: "";
      height: 3px;
      width: 0%;
      left: 50%;
      background-color: #ef5b70;
      transition: width 0.3s ease-out;
      -webkit-transition: width .3s ease-in-out;
      -moz--transition: width .3s ease-in-out;
      transition: width .3s ease-in-out;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      transform: translateX(-50%); }
    .menu__link:hover:after, .menu__link:focus:after {
      width: 90%; }

.megaMenu {
  display: flex;
  position: absolute;
  top: 67px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
  border: 1px solid #e9e9e9;
  padding: 20px;
  background: #fff; }
  .megaMenu__item {
    width: 237px;
    margin-right: 44px; }
    .megaMenu__item:last-child {
      margin-right: 0; }
      .megaMenu__item:last-child img {
        width: 100%; }
    .megaMenu__item ul {
      list-style-type: none; }
    .megaMenu__item li {
      margin-bottom: 5px; }
  .megaMenu__category {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid #e8e8e8; }
  .megaMenu__subCategory {
    color: #646464;
    font-size: 0.875rem;
    font-weight: 400;
    text-decoration: none; }

.prodCard {
  margin-bottom: 20px;
  position: relative; }
  .prodCard__content {
    display: block;
    width: 263px;
    text-decoration: none;
    background-color: #ffffff; }
    .prodCard__content img {
      width: 100%; }
  .prodCard__text {
    padding: 20px 14px; }
  .prodCard__name {
    color: #222222;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase; }
  .prodCard__price {
    padding-top: 15px;
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700; }
  .prodCard__cart {
    width: 263px;
    display: flex;
    justify-content: center; }
  .prodCard__cartContent {
    padding: 10px 15px;
    position: absolute;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0);
    display: none;
    top: 98px;
    text-decoration: none;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s; }
    .prodCard__cartContent:hover {
      background-color: #f16d7f;
      cursor: pointer;
      color: #ffffff; }
  .prodCard:hover {
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.16); }
  .prodCard:hover .prodCard__cartContent {
    display: block; }
  .prodCard:hover .prodCard__content img {
    filter: brightness(50%); }

.the-brand {
  background-color: #e8e8e8; }

.the-brand-image {
  height: 614px;
  display: flex;
  align-items: center;
  background: url(../img/the-brand-back.jpg) -221px -51px; }

.the-brand-text {
  border-left: 12px solid #f16d7f;
  padding-left: 8px; }

.the-brand-text h2 {
  color: #222222;
  font-size: 60px;
  font-weight: 900;
  line-height: 45px;
  margin-bottom: 12px; }

.the-brand-text h3 {
  color: #222222;
  font-size: 40px;
  font-weight: 900;
  line-height: 31px; }

.the-brand-text span {
  color: #f16d7f;
  font-size: 40px;
  font-weight: 900; }

/******************start category******************/
.category {
  margin-top: 55px;
  display: flex; }

.up-left-img {
  display: flex;
  background-image: url(../img/up-left.jpg);
  width: 560px;
  height: 542px; }

.bot-left-img {
  background-image: url(../img/bot-left.jpg);
  width: 560px;
  height: 261px; }

.up-right-img {
  background-image: url(../img/up-right.jpg);
  width: 560px;
  height: 261px; }

.bot-right-img {
  background-image: url(../img/bot-right.jpg);
  width: 560px;
  height: 542px; }

.category-left > div {
  margin: 0 10px 20px 0;
  display: flex;
  align-items: flex-start; }

.category-right > div {
  margin: 0 0 20px 10px;
  display: flex;
  align-items: flex-start; }

.bot-left-img > div,
.bot-right-img > div {
  align-items: center; }

.category-text {
  margin-top: 15px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff; }

.category-text h2 {
  color: #222222;
  font-size: 18px;
  font-weight: 900; }

.category-text h3 {
  color: #f16d7f;
  font-size: 30px;
  font-weight: 900; }

/******************start product******************/
.product-text {
  margin: 80px 0 10px 0;
  text-align: center; }

.product-text h2 {
  color: #222222;
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 8px; }

.product-text p {
  color: #9f9f9f;
  font-size: 14px;
  font-weight: 400; }

.product {
  display: flex;
  flex-direction: column;
  align-items: center; }

.product-samples {
  margin-top: 60px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.go-to-catalog-flex {
  margin-top: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 110px;
  height: 38px; }

.go-to-catalog-flex a {
  padding: 13px 19px;
  font-size: 16px;
  font-weight: 700; }

.fa-long-arrow-alt-right {
  width: 15px;
  height: 7px;
  padding-left: 10px;
  color: #ffffff; }

/******************start feature******************/
.feature {
  display: flex;
  margin-bottom: 50px;
  background: #222224; }

.feature-banner {
  height: 529px;
  width: 767px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background: #222224 url(../img/banner.jpg); }

.feature-banner-text {
  padding: 130px 0 0 35px; }

.feature-banner-text h2 {
  color: #ffffff;
  font-size: 53px;
  font-weight: 700; }

.feature-banner-text span {
  color: #f16d7f; }

.feature-banner-text h3 {
  color: #ffffff;
  font-size: 33px;
  font-weight: 700; }

.feature-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 373px;
  background-color: #222224; }

.feature-text-section {
  display: flex; }

.icon {
  padding: 0 35px; }

.text {
  padding-right: 35px; }

.feature-text-section h3 {
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 700; }

.feature-text-section p {
  padding-top: 15px;
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px; }

.subscribe {
  background-size: cover;
  position: relative;
  background: url(../img/subscribe/subscribe_back.jpg) center;
  background-size: cover; }

.subscribe-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #f2f2f2;
  opacity: 0.5;
  z-index: 0; }

.subscribe-flex {
  display: flex;
  height: 100%;
  z-index: 1; }

.subscribe-left {
  padding-top: 110px;
  padding-right: 70px;
  display: flex;
  flex: 1 50%;
  justify-content: flex-end;
  align-items: flex-start;
  z-index: 1; }

.subscribe-left-quote {
  padding-left: 28px;
  padding-bottom: 202px;
  z-index: 1; }
  .subscribe-left-quote p {
    color: rgba(34, 34, 36, 0.67);
    font-size: 16px;
    font-style: italic;
    line-height: 26px; }
  .subscribe-left-quote h2 {
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px; }
  .subscribe-left-quote h3 {
    color: #222224;
    font-size: 12px;
    font-weight: 300;
    line-height: 14px; }

.subscribe-right {
  padding: 130px 0 0 90px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex: 1 50%;
  z-index: 1;
  align-items: center;
  border-left: 1px solid #ffffff; }
  .subscribe-right input {
    background-color: #e1e1e1;
    width: 334px;
    height: 46px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-style: none;
    text-indent: 20px; }

.subscribe-right-text {
  padding-bottom: 30px; }
  .subscribe-right-text h2 {
    color: rgba(34, 34, 36, 0.67);
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: center; }
  .subscribe-right-text p {
    color: rgba(34, 34, 36, 0.67);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    font-variant: small-caps; }
  .subscribe-right-text placholder {
    color: rgba(34, 34, 36, 0.67);
    font-size: 14px;
    font-weight: 400;
    line-height: 54px; }
  .subscribe-right-text a {
    background-color: #f16d7f;
    padding: 14px 20px;
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 46px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px; }

.btn-subscribe {
  width: 104px;
  height: 46px;
  border-radius: 0 30px 30px 0;
  border: none;
  font-size: 14px;
  font-weight: 400; }

.footer-main {
  padding-top: 50px;
  display: flex;
  padding-bottom: 32px; }
  .footer-main a {
    text-decoration: none; }

.footer-main-left {
  width: 427px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }
  .footer-main-left p {
    color: #898989;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px; }

.footer-main-left * {
  padding-bottom: 15px; }

.footer-main-right {
  display: flex;
  flex: 711;
  justify-content: space-around;
  align-items: flex-start; }

.footer-main-right > div {
  padding: 0 50px; }

.footer-menu > h3 {
  padding: 15px 0 30px 0; }

.footer-menu > h3 > a:hover {
  color: #BF3A30; }

.footer-menu > h3 > a {
  display: block;
  white-space: nowrap;
  color: #f16d7f;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px; }

.footer-menu > ul {
  list-style-type: none;
  line-height: 40px; }

.footer-menu > ul > li > a {
  color: #898989;
  font-size: 16px;
  font-weight: 400; }

.footer-menu > ul > li > a:hover {
  color: #f16d7f; }

.footer-copyright {
  background-color: #e6e6e6;
  height: 79px; }

.footer-copyright {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .footer-copyright p {
    color: #7a7a7a;
    font-size: 16px;
    font-weight: 400;
    line-height: 42px; }

.icons {
  display: flex; }
  .icons a {
    display: block;
    width: 35px;
    height: 35px;
    margin-right: 10px;
    background-color: #ffffff;
    color: #b2b2b2;
    line-height: 35px;
    text-align: center; }

.icons a:hover {
  background-color: #f16d7f;
  color: #f7f7f8; }

.icons a:nth-of-type(3):hover {
  background-color: #eeeeee;
  color: #d9d9d9; }

/*# sourceMappingURL=index.css.map */
